<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap StyleSheet -->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap3.min.css">
        
        <!-- Our StyleSheet -->
        <link rel="stylesheet" type="text/css" href="/static/css/overwrite.css">
        
        <!-- Fonts from Google -->
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Shade|Permanent+Marker" rel="stylesheet">

        <!-- JQuery & Bootstrap js files -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        
        <title>The Givers</title>
    </head>

    <body>

        {% include "navbar.html" %}

        <div class="jumbotron text-center">
            <h1 id="h1Jumbo"> The Givers </h1>
            <h3 id="h3Jumbo">Giving to Charities in Need</h3>
        </div>
        
        <!-- Form Module-->
        <div class="module form-module">
          <div class="form">
            <h2>Register</h2>
            <form action="/create/account" method="post">
              <input type="email" name="email" placeholder="Email" required>
              <input type="text" name="name" placeholder="Name" required>
              <input type="password" name="pass1" placeholder="Password" required>
              <input type="password" name="pass2" placeholder="Confirm Password" required>
              <select class="form-control" name="user_type">
                <option value="donator">I'd like to donate to charities</option>
                <option value="manager">I manage a charity and like to donate</option>
              </select>
              <br><br>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>

    </body>
</html>
