<div class="card" style="margin-top: 1.5rem; position: fixed; top:{{ 4 + subOffset}}rem; left: 80%;">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    Hello1
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    Hello2
                </div>
            </div>
        </div>
    </div>
</div>